body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    overflow-x: hidden;
}
.main {
 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.box {
    display: flex;
    width:80%;
    min-height: 300px;
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
}
@media(max-width:600px){
    .box{
        width:100%;
    }
}
.box__header {
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0.05em;
}
input[type=text]{
    font-family: "Raleway", Helvetica, sans-serif;
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    padding:10px;
    margin-bottom:15px;
    margin-top 20px;px;
    outline:none;
    width: 30px;
}
.box__button{
    font-size: large;
    background: none;
    border: none;
}
.box__message {
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 7pt;
    font-weight: 150;
    line-height: 1.75;
    letter-spacing: 0.05em;
}
   
.hover{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.hover:hover{
    transform:scale(1.05);
}