body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    overflow-x: hidden;
    
    
}
.main {
 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.box {
    display: flex;
    width:80%;
    height: 500px;
    max-width: 1024px;
    background-color: #ffffff;
}
@media(max-width:600px){
    .box{
        width:100%;
        flex-direction: column;
    }
}

.box__column{
    height: 100%;
    flex-basis: 50%;
    

}
.box__column--image{
    background-image: url("./skan 008.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.box__column--content{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box__paragraph{
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;

    color: #444;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0.05em;
}
.box__header{
    font-size: 2em;
    color: #555;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin: -1px 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.box__button{
    font-family: "Raleway", Helvetica, sans-serif;
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    padding:10px;
    margin-bottom:15px;
    margin-top:50px;
    outline:none;
}
.box__icons{
    font: size 16px;
}
.box__icons .box__icon{
    margin:10px;
}
.box__fb{
    color: #4267B2;
}
.box__yt{
    color: #FF0000;
}

.hover{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.hover:hover{
    transform:scale(1.05);
}
a{
    text-decoration: none;
    color:inherit;
}